.background-texture {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.05;
  pointer-events: none;
}

.background-texture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(0.3) saturate(0) contrast(1.2);
}
